@model IEnumerable<GestionnairesLivres.Models.Livre>
@{
    ViewData["Titre"] = "Gestion des Livres";
    //Layout = null;
}

<html>

<body>
    <h1>Application Livres Model View Controller</h1>

    <h4>Livres</h4>

    <hr />


    <p>
        <a asp-action="Create">Creer nouveau livre</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnneePublication)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Auteur)
                </th>
                <th>
                    InscriptionLivrePossede
                </th>
                <th>
                    AchatLivresSouhaite
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var traverse in Model)
             {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => traverse.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => traverse.AnneePublication)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => traverse.Auteur)
                </td>
                <td>
                   <input type="checkbox"/>
                </td>
                <td>
                    <input type="checkbox" />
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@traverse.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@traverse.Id">Mettre a jour</a> |
                    <a asp-action="Delete" asp-route-id="@traverse.Id">Supprimer</a>
                </td>
            </tr>
             }
        </tbody>
    </table>

    @*Le livre <b>Titre</b> a ete edite le AnneePublication.ToLongDateString()
        par <b>Auteur</b>;*@
    <!--
        <span style="font-size: 18pt;">Hello, <b>MVC </b> Livre-View</span><br />
        -->
</body>

</html>

