@model IEnumerable<GestionnairesLivres.Models.Livre>
@{
    ViewData["Titre"] = "Gestion des Livres";
    //Layout = null;
}
<!-- ViewData["Title"] = "Home Page";-->
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->

<!DOCTYPE html>

<html>

<body>
    <h1>Creer</h1>

    <div>
        <h4>Livre</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Titre)
            </dt>
            @*<dd class="col-sm-10">
                @Html.DisplayFor(model => model.AnneePublication)
            </dd>*@
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Auteur)
            </dt> 
           
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="model.id">Edit</a>
        <a asp-action="Index">Back to List</a>
    </div>
    <hr />

    <table class="tableau">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Titre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnneePublication)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Auteur)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnneePublication)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Auteur)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    @*Le livre <b>Titre</b> a ete edite le AnneePublication.ToLongDateString()
        par <b>Auteur</b>;*@
    <!--
        <span style="font-size: 18pt;">Hello, <b>MVC </b> Livre-View</span><br />
        -->
</body>

</html>

